body{
  margin-left: auto;
  margin-right: auto;
}
section{
  height: 100vh;
}
.loginblock{
  background-color: lightgray;
}
.loginform{
  padding: 50px;
  border-radius: 20px;
  background-color: lightblue;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
}
